@media screen and (min-width: 700px) {
  .container {
    display: flex;
  }

  .left,
  .right {
    flex: 1; /* Both divs will take up equal space */
  }

  .left {
    margin-right: 10px; /* Margin to separate left and right divs */
  }
}

.highlight {
  border: 0.5rem solid darkorange;
  border-radius: 5px;
}

.reference {
  background: lightgray;
}
